body {
  background-color: black;
}

box {
  width: 300px;
  height: 100px;
  border: 10px solid white;
  padding: 100px;
  margin: 50px;
  background-color: red;
  text-align: center;
  font-family: comic sans;
  font-size: 20px;
}
