body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #202020;
}

/* CONTAINERS */
.header {
	display: flex;
	justify-content: space-between;
	background-color: #bd0202;
	padding: 20px;
	padding-left: 5%;
	padding-right: 5%;
}

.container {
	background-color: #f4f4f4;
    padding: 2%;
	margin-left: 5%;
	margin-right: 5%;
}

.container2 {
	display: flex;
	justify-content: space-around;
	padding: 5%;
}

#picture-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: #d6d6d6;
	border-radius: 25px;
}


/* CONTENT */
/* - header */
.welcome {
	color: #fff;
	text-align: left;
}

.font {
	font-family: "Lucida Handwriting", Lucida, cursive;
}

/* - introduction */
.introduction{
	padding: 3%;
	text-align: left;
	border-radius: 25px;
	background-color: #d6d6d6;
	width: 50%;
}

.photo {
	width: 200px;
	height: 200px;
	border: 5px solid  #bd0202;
	border-radius: 50%;
	margin-left: 2%;
}

#intro-title {
	font-size: 32px;
}

/* - language */
.language {
	display: grid;
	justify-content: right;
}

.language-button {
	background-color: transparent;
	padding: 0px 0px;
	border-radius: 50%;
	width: 54px;
	height: 54px;
}

.language-inactive {
	opacity: 0.5;
}

.language-active {
	button[:disabled];
}

.language-image {
	border-radius: 25px;
	width: 50px;
	height: auto;
}

/* - projects */
.picture {
	width: 200px;
	margin: 20px;
	padding: 10px;
	border: 3px solid black;
	border-radius: 25px;
	text-align: center;
	color: #bd0202;
	background-color: #ffffff;
}

.picture:hover {
	border-color: #bd0202;
}